@font-face {
  font-family: lazy-crazy;
  src: url(../fonts/lazyc___.ttf);
}

@font-face {
  font-family: magistral;
  src: url(../fonts/magistral.ttf);
}

@font-face {
  font-family: second-slade;
  src: url(../fonts/second-slade.TTF);
}

@font-face {
  font-family: molot;
  src: url(../fonts/10436.TTF);
}

/* color */
:root {
  --main-color: #015085;
}

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Styling */

body {
  font-family: lazy-crazy;
  letter-spacing: -3px;
  background-color: #f1f1f1;
}

h2,
h3,
h4 {
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  letter-spacing: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.background {
  background: url(../img/other/slide-background.png) no-repeat center
    center/cover;
  background-color: #fff;
}

/* Navbar */
#hero {
  font-family: magistral;
  letter-spacing: 1px;
}

#navbar {
  background: rgba(1, 64, 105, 0.8);
  color: #ddd;
  height: 60px;
  z-index: 20;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#navbar .nav-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  height: inherit;
  justify-content: space-between;
  padding: 0 100px;
}

#navbar .nav-info {
  display: flex;
}

#navbar .nav-container .nav-info ul:first-child li {
  padding-right: 25px;
}

#navbar .nav-container .nav-info ul:last-child li:nth-child(2) {
  color: #ddd;
}

#navbar ul li {
  color: #333;
  display: inline-block;
  position: relative;
}

#navbar .services > ul > li,
#navbar .nav-container a {
  color: #ddd;
  padding: 25px 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar .nav-container a:hover,
#navbar .services > ul > li:hover {
  color: #fff;
}

/* Hide nested ul by default */
#navbar .nav-container ul > li > ul {
  display: none;
}

#navbar .nav-container ul > li:hover {
  cursor: pointer;
}

#navbar .nav-container ul li:hover a {
  color: #fff;
}

#navbar .nav-container ul li ul {
  opacity: 0;
  -moz-transition: 1s;
	-webkit-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
  transition: 1s;
  display: flex;
  position: absolute;
  width: 600px;
  margin-top: 25px;
  background: rgba(1, 64, 105, 0.8);
  padding: 20px;
  border-radius: 0 0 5px 5px;
  right: 600px;
}

/* Nested dropdown shown */
#navbar .nav-container ul li:hover ul {
  opacity: 1;
  left: 0px;
}

#navbar .nav-container ul li ul > div {
  display: flex;
  flex-direction: column;
}

#navbar .nav-container ul li ul > div:last-child {
  margin-left: 60px;
}

#navbar .nav-container ul li ul li {
  padding: 10px 20px;
}

#navbar .nav-container ul li:hover ul li a {
  color: #ddd;
}

#navbar .nav-container ul li:hover ul li a:hover {
  color: #fff;
}

/* Showcase background */
#hero {
  background: #333;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

#my-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Showcase */
#showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  height: inherit;
}

#showcase > * {
  z-index: 1;
}

#showcase h1 {
  font-size: 60px;
  font-weight: 900;
}

#showcase .title {
  transform: translateY(0px);
    -moz-transform: translateY(0px); /* Для Firefox */
    -ms-transform: translateY(0px); /* Для IE */
    -webkit-transform: translateY(0px); /* Для Safari, Chrome, iOS */
    -o-transform: translateY(0px); /* Для Opera */
  opacity: 0;
  transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
}

#showcase .title.active {
  transform: translateY(0px);
    -moz-transform: translateY(0px); /* Для Firefox */
    -ms-transform: translateY(0px); /* Для IE */
    -webkit-transform: translateY(0px); /* Для Safari, Chrome, iOS */
    -o-transform: translateY(0px); /* Для Opera */
  opacity: 1;
}

#showcase .subtitle {
  transform: translateY(0px);
    -moz-transform: translateY(0px); /* Для Firefox */
    -ms-transform: translateY(0px); /* Для IE */
    -webkit-transform: translateY(0px); /* Для Safari, Chrome, iOS */
    -o-transform: translateY(0px); /* Для Opera */
  opacity: 0;
  transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
}

#showcase .subtitle.active {
  transform: translateY(0px);
    -moz-transform: translateY(0px); /* Для Firefox */
    -ms-transform: translateY(0px); /* Для IE */
    -webkit-transform: translateY(0px); /* Для Safari, Chrome, iOS */
    -o-transform: translateY(0px); /* Для Opera */
  opacity: 1;
  transition: all .8s ease 0.4s;
    -webkit-transition: all .8s ease 0.4s;
    -moz-transition: all .8s ease 0.4s;
    -o-transition: all .8s ease 0.4s;
    -ms-transition: all .8s ease 0.4s;
}

#showcase .border-bottom {
  width: 300px;
  border-bottom: 8px solid var(--main-color);
  border-radius: 25%;
  margin: 15px 0;
}

#showcase h3 {
  font-size: 30px;
}

#showcase h1,
h3 {
  text-transform: uppercase;
}

#showcase .logo-showcase {
  width: 130px;
  margin-bottom: 20px;
}

/* About */

#leverans-baltic-introduction .introduction {
  width: 1100px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 57px;
}

#leverans-baltic-introduction .introduction-item {
  font-family: second-slade;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 100;
  line-height: 1.25;
  overflow: hidden;
}

#leverans-baltic-introduction .item1 {
  position: relative;
  bottom: 2px;
}

#leverans-baltic-introduction .item1 .line1::after {
  content: "";
  background: url(../img/underlines/line1.png) no-repeat center center/cover;
  height: 5px;
  width: 135px;
  top: 25px;
  left: 270px;
  position: absolute;
}

#leverans-baltic-introduction .item1 .line2::after {
  content: "";
  background: url(../img/underlines/line2.png) no-repeat center center/cover;
  height: 9px;
  width: 45px;
  top: 26px;
  left: 423px;
  position: absolute;
}

#leverans-baltic-introduction .item1 .line3::after {
  content: "";
  background: url(../img/underlines/line3.png) no-repeat center center/cover;
  height: 11px;
  width: 145px;
  top: 96px;
  left: 555px;
  position: absolute;
}

#leverans-baltic-introduction .item2 {
  position: relative;
  bottom: 6px;
}

#leverans-baltic-introduction .item2 .line4::after {
  content: "";
  background: url(../img/underlines/line4.png) no-repeat center center/cover;
  height: 6px;
  width: 170px;
  top: 28px;
  left: 110px;
  position: absolute;
}

#leverans-baltic-introduction .item3 {
  position: relative;
  bottom: 10px;
}

#leverans-baltic-introduction .item3 .line5::after {
  content: "";
  background: url(../img/underlines/line5.png) no-repeat center center/cover;
  height: 3px;
  width: 80px;
  top: 26px;
  left: 295px;
  position: absolute;
}

#leverans-baltic-introduction .item3 .line6::after {
  content: "";
  background: url(../img/underlines/line6.png) no-repeat center center/cover;
  height: 3px;
  width: 130px;
  top: 66px;
  left: 425px;
  position: absolute;
}

#leverans-baltic-introduction .item4 {
  position: relative;
  bottom: 14px;
}

#leverans-baltic-introduction .item4 .line7::after {
  content: "";
  background: url(../img/underlines/line7.png) no-repeat center center/cover;
  height: 8px;
  width: 180px;
  top: 28px;
  left: 145px;
  position: absolute;
}

#leverans-baltic-introduction .item5 {
  position: relative;
  bottom: 18px;
}

#leverans-baltic-introduction .item5 .line8::after {
  content: "";
  background: url(../img/underlines/line8.png) no-repeat center center/cover;
  height: 4px;
  width: 200px;
  top: 26px;
  left: 145px;
  position: absolute;
}

#leverans-baltic-introduction .item6 {
  position: relative;
  bottom: 22px;
}

#leverans-baltic-introduction .item6 .line9::after {
  content: "";
  background: url(../img/underlines/line9.png) no-repeat center center/cover;
  height: 5px;
  width: 180px;
  top: 26px;
  left: 290px;
  position: absolute;
}

#leverans-baltic-introduction .slide-footer {
  margin-top: 20px;
  position: relative;
  bottom: 20px;
}

.anim-show {
  transform: translateY(0px);
    -moz-transform: translateY(0px); /* Для Firefox */
    -ms-transform: translateY(0px); /* Для IE */
    -webkit-transform: translateY(0px); /* Для Safari, Chrome, iOS */
    -o-transform: translateY(0px);/* Для Opera */
  opacity: 0;
  transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
}

.anim-show.active,
.active .anim-show {
  transform: translateY(0px);
    -moz-transform: translateY(0px); /* Для Firefox */
    -ms-transform: translateY(0px); /* Для IE */
    -webkit-transform: translateY(0px); /* Для Safari, Chrome, iOS */
    -o-transform: translateY(0px); /* Для Opera */
  opacity: 1;
  display: inline;
}

/* Slide-Footer */
.slide-footer {
  font-family: magistral;
  background: rgba(1, 64, 105, 0.8);
  color: #fff;
  margin-top: -5px;
  line-height: none;
  font-weight: lighter;
}

.slide-footer .footer-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 185px;
  letter-spacing: 10px;
}

.slide-footer .footer-items .item {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 1px;
}

.slide-footer .footer-items i {
  padding: 1px 25px 0 25px;
  position: relative;
  bottom: -1.25px;
  transform: rotate(30deg);
    -moz-transform: rotate(30deg); /* Для Firefox */
    -ms-transform: rotate(30deg); /* Для IE */
    -webkit-transform: rotate(30deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(30deg); /* Для Opera */
  left: 4px;
}

/* Logo */
.logo {
  max-width: 150px;
  position: relative;
  margin-top: -200px;
  margin-bottom: 20px;
  left: 1025px;
}

/* Ship Layout */
#ship-layout .ship-background {
  display: grid;
  grid-template-columns: 1fr;
  height: 845px;
  width: 1150px;
  background: url(../img/other/Ship.png) no-repeat center center/cover;
  position: relative;
  top: 50px;
  left: 20px;
}

#ship-layout .ship-background .top,
#ship-layout .ship-background .mid,
#ship-layout .ship-background .bottom {
  display: flex;
  flex-direction: row;
}

#ship-layout .ship-background .animation {
  border: 1.5px solid #333;
  background-color: #f2ea8c;
  box-shadow: 0 6px 4px -4px #333;
  display: inline-block;
  font-size: 22px;
  height: 40px;
  text-align: center;
  padding: 0 10px;
}

#ship-layout .ship-background #eyewink {
  -webkit-animation: eyewink 3s infinite reverse ease-in-out;
  animation: eyewink 3s infinite reverse ease-in-out;
}

@keyframes eyewink {
  from {box-shadow: 0 0 20px  #333;}
  50% {box-shadow: 0 0 1px  #333;}
  to {box-shadow: 0 0 20px  #333;}
}

#ship-layout .animation:hover {
  transform: none;
    -moz-transform: none; /* Для Firefox */
    -ms-transform: none; /* Для IE */
    -webkit-transform: none; /* Для Safari, Chrome, iOS */
    -o-transform: none; /* Для Opera */
  transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  box-shadow: 0 0 12px #333;
  cursor: pointer;
}

#ship-layout .logistic {
  position: relative;
  right: 150px;
  top: 20px;
  transform: rotate(-10deg);
  -moz-transform: rotate(-10deg); /* Для Firefox */
  -ms-transform: rotate(-10deg); /* Для IE */
  -webkit-transform: rotate(-10deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-10deg); /* Для Opera */
}

#ship-layout .flag {
  position: relative;
  left: 40px;
  top: 20px;
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg); /* Для Firefox */
  -ms-transform: rotate(-20deg); /* Для IE */
  -webkit-transform: rotate(-20deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-20deg); /* Для Opera */
}

#ship-layout .video {
  position: relative;
  bottom: 30px;
  left: 125px;
  transform: rotate(-5deg);
  -moz-transform: rotate(-5deg); /* Для Firefox */
  -ms-transform: rotate(-5deg); /* Для IE */
  -webkit-transform: rotate(-5deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-5deg); /* Для Opera */
}

#ship-layout .safety-equipment {
  position: relative;
  top: 200px;
  left: 100px;
  transform: rotate(-7deg);
  -moz-transform: rotate(-7deg); /* Для Firefox */
  -ms-transform: rotate(-7deg); /* Для IE */
  -webkit-transform: rotate(-7deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-7deg); /* Для Opera */
}

#ship-layout .propeller {
  position: relative;
  left: 230px;
  top: 105px;
  transform: rotate(-7deg);
  -moz-transform: rotate(-7deg); /* Для Firefox */
  -ms-transform: rotate(-7deg); /* Для IE */
  -webkit-transform: rotate(-7deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-7deg); /* Для Opera */
}

/* Sticker with dropdown */
#ship-layout .spare-parts {
  position: relative;
  left: 90px;
  bottom: 10px;
  letter-spacing: 1px;
  transform: rotate(10deg);
  -moz-transform: rotate(10deg); /* Для Firefox */
  -ms-transform: rotate(10deg); /* Для IE */
  -webkit-transform: rotate(10deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(10deg); /* Для Opera */
}

#ship-layout .spare-parts .title-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 260px;
  opacity: 0;
  right: 600px;
  transition: 1s;
  -moz-transition: 1s; 
  -ms-transition: 1s; 
  -webkit-transition: 1s; 
  -o-transition: 1s; 
  
}

#ship-layout .spare-parts:hover .title-dropdown {
  opacity: 1;
  right: -120px;
}

#ship-layout .spare-parts:hover .title-dropdown .hydraulic {
  position: relative;
  top: 15px;
  width: 110px;
  margin-left: 5px;
  transform: rotate(5deg);
  -moz-transform: rotate(5deg); /* Для Firefox */
  -ms-transform: rotate(5deg); /* Для IE */
  -webkit-transform: rotate(5deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(5deg); /* Для Opera */
}

#ship-layout .spare-parts:hover .title-dropdown .hydraulic:hover,
.coolers:hover {
  margin-left: 5px;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg); /* Для Firefox */
  -ms-transform: rotate(0deg); /* Для IE */
  -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(0deg); /* Для Opera */
}

#ship-layout .spare-parts:hover .title-dropdown .container {
  position: relative;
  top: 10px;
  right: 30px;
  transform: rotate(-3deg);
  -moz-transform: rotate(-3deg); /* Для Firefox */
  -ms-transform: rotate(-3deg); /* Для IE */
  -webkit-transform: rotate(-3deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-3deg); /* Для Opera */
  margin-top: 15px;
}

#ship-layout .spare-parts:hover .title-dropdown .container:hover {
  transform: rotate(0deg);
  -moz-transform: rotate(0deg); /* Для Firefox */
  -ms-transform: rotate(0deg); /* Для IE */
  -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(0deg); /* Для Opera */
}

#ship-layout .spare-parts:hover .title-dropdown .coolers {
  position: relative;
  top: 30px;
  width: 110px;
  margin-left: 5px;
  transform: rotate(5deg);
  -moz-transform: rotate(5deg); /* Для Firefox */
  -ms-transform: rotate(5deg); /* Для IE */
  -webkit-transform: rotate(5deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(5deg); /* Для Opera */
}

#ship-layout .spare-parts:hover .title-dropdown .coolers:hover {
  transform: rotate(0deg);
  -moz-transform: rotate(0deg); /* Для Firefox */
  -ms-transform: rotate(0deg); /* Для IE */
  -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(0deg); /* Для Opera */
}

#ship-layout .bunkering-oil {
  position: relative;
  left: 350px;
  top: 130px;
  transform: rotate(4deg);
  -moz-transform: rotate(4deg); /* Для Firefox */
  -ms-transform: rotate(4deg); /* Для IE */
  -webkit-transform: rotate(4deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(4deg); /* Для Opera */
}

#ship-layout .bow-thruster {
  position: relative;
  left: 400px;
  top: 100px;
  transform: rotate(-7deg);
  -moz-transform: rotate(-7deg); /* Для Firefox */
  -ms-transform: rotate(-7deg); /* Для IE */
  -webkit-transform: rotate(-7deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-7deg); /* Для Opera */
}

#ship-layout .anchor {
  position: relative;
  left: 500px;
  top: 120px;
  transform: rotate(-3deg);
  -moz-transform: rotate(-3deg); /* Для Firefox */
  -ms-transform: rotate(-3deg); /* Для IE */
  -webkit-transform: rotate(-3deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-3deg); /* Для Opera */
}

#ship-layout .ropes {
  position: relative;
  left: 450px;
  top: 100px;
  transform: rotate(5deg);
  -moz-transform: rotate(5deg); /* Для Firefox */
  -ms-transform: rotate(5deg); /* Для IE */
  -webkit-transform: rotate(5deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(5deg); /* Для Opera */
}

#ship-layout .chemicals {
  position: relative;
  left: 480px;
  top: 40px;
  transform: rotate(-5deg);
  -moz-transform: rotate(-5deg); /* Для Firefox */
  -ms-transform: rotate(-5deg); /* Для IE */
  -webkit-transform: rotate(-5deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-5deg); /* Для Opera */
}

#ship-layout .fire-fighting {
  position: relative;
  left: 320px;
  top: 60px;
  transform: rotate(3deg);
  -moz-transform: rotate(3deg); /* Для Firefox */
  -ms-transform: rotate(3deg); /* Для IE */
  -webkit-transform: rotate(3deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(3deg); /* Для Opera */
}

#ship-layout .cabins-equipment {
  position: relative;
  top: 200px;
  right: 200px;
  transform: rotate(-4deg);
  -moz-transform: rotate(-4deg); /* Для Firefox */
  -ms-transform: rotate(-4deg); /* Для IE */
  -webkit-transform: rotate(-4deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-4deg); /* Для Opera */
}

#ship-layout .electrical-equipment {
  position: relative;
  top: 110px;
  left: 10px;
  transform: rotate(-4deg);
  -moz-transform: rotate(-4deg); /* Для Firefox */
  -ms-transform: rotate(-4deg); /* Для IE */
  -webkit-transform: rotate(-4deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-4deg); /* Для Opera */
}

#ship-layout .navigation-service {
  position: relative;
  left: 60px;
  top: 40px;
  transform: rotate(4deg);
  -moz-transform: rotate(4deg); /* Для Firefox */
  -ms-transform: rotate(4deg); /* Для IE */
  -webkit-transform: rotate(4deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(4deg); /* Для Opera */
}

#ship-layout .valves-pipes {
  position: relative;
  right: 170px;
  top: 160px;
  transform: rotate(4deg);
  -moz-transform: rotate(4deg); /* Для Firefox */
  -ms-transform: rotate(4deg); /* Для IE */
  -webkit-transform: rotate(4deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(4deg); /* Для Opera */
}

#ship-layout .transition {
  transition: 1s;
  -moz-transition: 1s; /* Для Firefox */
  -ms-transition: 1s; /* Для IE */
  -webkit-transition: 1s; /* Для Safari, Chrome, iOS */
  -o-transition: 1s; /* Для Opera */
}

/* Gallery */

#gallery {
  background-color: var(--main-color);
  max-width: 1200px;
  margin: auto;
}

#gallery .gallery-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#gallery .gallery-items img {
  margin-bottom: 5px;
}

/* scroll */

#gallery .first-position {
  position: relative;
  bottom: 650px;
}

a.scroll-section {
  position: relative;
  bottom: 60px;
}

a.scroll-contacts-section {
  position: relative;
  bottom: 100px;
}

a.scroll {
  position: relative;
  bottom: 480px;
}

#gallery .gallery-img {
  transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    
}

#gallery .gallery-img:hover {
  box-shadow: 0 0 12px 10px #333;
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#333, strength=20);
  /* box-shadow: 0 0 12px 10px red; */
  transform: scale(1.04);
    -moz-transform: scale(1.04); /* Для Firefox */
    -ms-transform: scale(1.04); /* Для IE */
    -webkit-transform: scale(1.04); /* Для Safari, Chrome, iOS */
    -o-transform: scale(1.04); /* Для Opera */
    z-index: 10;
    position: relative;
}

/* 20: Contacts */
#contacts {
  display: grid;
  grid-template-columns: 1fr 1.8fr 1fr;
  padding: 20px 60px;
  position: relative;
}

#contacts h2 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 20px;
}

#contacts .section-a .underline-1::after {
  content: "";
  background: url(../img/underlines-2/подчеркивание\ двойное.png) no-repeat
    center center/cover;
  height: 11px;
  width: 145px;
  top: 56px;
  left: 15px;
  position: absolute;
}

#contacts .contacts-section {
  transform: translateX(0px);
    -moz-transform: translateX(0px); /* Для Firefox */
    -ms-transform: translateX(0px); /* Для IE */
    -webkit-transform: translateX(0px); /* Для Safari, Chrome, iOS */
    -o-transform: translateX(0px); /* Для Opera */
  transition: 0.3s ease 0s;
    -webkit-transition: 0.3s ease 0s;
    -moz-transition: 0.3s ease 0s;
    -o-transition: 0.3s ease 0s;
    -ms-transition: 0.3s ease 0s;
}

#contacts.active .contacts-section {
  transform: translateX(0px);
  -moz-transform: translateX(0px); /* Для Firefox */
    -ms-transform: translateX(0px); /* Для IE */
    -webkit-transform: translateX(0px); /* Для Safari, Chrome, iOS */
    -o-transform: translateX(0px); /* Для Opera */
}

#contacts.active .contacts-section:nth-child(1) {
  transition: 0.8s ease 1.2s;
    -webkit-transition: 0.8s ease 1.2s;
    -moz-transition: 0.8s ease 1.2s;
    -o-transition: 0.8s ease 1.2s;
    -ms-transition: 0.8s ease 1.2s;
}

#contacts.active .contacts-section:nth-child(2) {
  transition: 0.8s ease 0.8s;
    -webkit-transition: 0.8s ease 0.8s;
    -moz-transition: 0.8s ease 0.8s;
    -o-transition: 0.8s ease 0.8s;
    -ms-transition: 0.8s ease 0.8s;
}

#contacts.active .contacts-section:nth-child(3) {
  transition: 0.8s ease 0.4s;
    -webkit-transition: 0.8s ease 0.4s;
    -moz-transition: 0.8s ease 0.4s;
    -o-transition: 0.8s ease 0.4s;
    -ms-transition: 0.8s ease 0.4s;
}

#contacts h3 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0;
  text-transform: capitalize;
}

#contacts .section-a {
  margin-top: 20px;
}

#contacts .section-a > div > * {
  font-family: molot;
}

#contacts .section-a .email {
  position: relative;
  top: 35px;
}

#contacts .section-a .email a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

#contacts .section-a div:nth-child(2) {
  margin-bottom: 40px;
}

#contacts .section-a div h3:nth-child(2) {
  margin-bottom: 28px;
}

#contacts .section-a .logo-contacts {
  margin-top: 50px;
  margin-bottom: 60px;
}

#contacts .section-a,
.section-b,
.section-c p {
  font-size: 28px;
}

#contacts .section-b {
  font-family: molot;
}

#contacts .section-b .technical i {
  margin-left: 364px;
  margin-top: 3px;
}

#contacts .section-b .navigation-safety i {
  margin-left: 350px;
  margin-top: 24px;
}

#contacts .section-b .assistant i {
  position: relative;
  left: 150px;
  top: -15px;
}

#contacts .section-b .accountant i {
  margin-left: 270px;
  position: relative;
  bottom: 3px;
}

#contacts .section-b .assistant .department {
  position: relative;
  left: 7px;
}

/* #contacts .section-b .technical::after {
  content: "";
  background: url(../img/underlines-2/Подчеркивания\ 01.png) no-repeat center
    center/cover;
  height: 6px;
  width: 320px;
  top: 27px;
  left: 0px;
  position: absolute;
}

#contacts .section-b .navigation-safety::after {
  content: "";
  background: url(../img/underlines-2/Подчеркивания\ 01.png) no-repeat center
    center/cover;
  height: 6px;
  width: 320px;
  top: 55px;
  left: -5px;
  position: absolute;
}

#contacts .section-b .assistant::after {
  content: "";
  background: url(../img/underlines-2/Подчеркивания\ 01.png) no-repeat center
    center/cover;
  height: 6px;
  width: 240px;
  top: 57px;
  left: 55px;
  position: absolute;
}

#contacts .section-b .accountant::after {
  content: "";
  background: url(../img/underlines-2/Подчеркивания\ 01.png) no-repeat center
    center/cover;
  height: 5px;
  width: 130px;
  top: 27px;
  left: 0px;
  position: absolute;
} */

#contacts .section-b > div {
  margin-bottom: 124px;
  margin-left: 70px;
}

#contacts .section-b > div:first-child {
  margin-top: 95px;
}

#contacts .section-b > div:nth-child(4) {
  margin-bottom: 140px;
}

#contacts .section-c div {
  font-family: molot;
  text-align: center;
}

#contacts .section-b .sponsor {
  margin-left: 40px;
}

#contacts .section-b .sponsor a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

#contacts .section-c .name-mail-1 p:last-child,
#contacts .section-c .name-mail-2 p:last-child,
#contacts .section-c .name-mail-3 p:last-child,
#contacts .section-c .name-mail-4 p:last-child,
#contacts .section-c a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  letter-spacing: 0;
}

#contacts .section-c a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

#contacts .section-c .name-mail-1 {
  margin-top: 45px;
}

#contacts .section-c .name-mail-2 {
  margin-top: 55px;
}

#contacts .section-c .name-mail-3 {
  margin-top: 55px;
}

#contacts .section-c .name-mail-4 {
  margin-top: 35px;
}

#contacts .section-c .section-c-emails {
  position: relative;
  right: 17px;
}

#contacts .section-c:last-child .section-c-emails {
  position: relative;
  right: 25px;
}

#contacts .section-c .section-c-names {
  position: relative;
  right: 15px;
}

#contacts .section-c:last-child .section-c-names {
  position: relative;
  right: 10px;
}

#contacts .section-c .section-c-phones {
  position: relative;
  right: 10px;
}

#contacts .technical {
  background: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 315px;
  position: relative;
  z-index:1;
  right: 15px;
}

#contacts .navigation-safety {
  background: none;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 285px;
  position: relative;
  z-index:1;
}

#contacts .assistant {
  background: none;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 230px;
  position: relative;
  z-index: 1;
}

#contacts .assistant span {
  position: relative;
}

#contacts .accountant {
  background: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 123px;
  position: relative;
  z-index:1;
}

#contacts .section-a .number {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 185px;
  position: relative;
  z-index:1;
  padding-top: 5px;
}

#contacts .main-ph-numb {
  position: relative;
  top: 10px;
}

#contacts .main-mail {
  background: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 215px;
  position: relative;
  z-index:1;
}

#contacts .another-mails {
  background: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 220px;
  position: relative;
  right: 100px;
  z-index:1;
  text-align: center;
}

#contacts .fourth-mail {
  background: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 235px;
  position: relative;
  right: 100px;
  z-index:1;
}

#contacts .another-phones {
  background: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 185px;
  position: relative;
  right: 100px;
  z-index:1;
}

#contacts span {
  position:absolute;
}

#contacts .paragraph:hover::before {
  width: 100%;
}

#contacts .paragraph::before {
  transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
  content: '';
  z-index:0;
  position: absolute; 
  height: 100%; width: 0;
  background-color: #f2ea8c;
}

#contacts .paragraph-section-b::before {
  left: -2px;
}

#contacts .section-b .accountant {
  margin-left: 150px;
}

#contacts .section-b .navigation-safety {
  text-align: center;
}

#contacts .section-b .assistant {
  text-align: center;
  margin-left: 102px;
}

/* Main Footer */
#main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
